.Container {
	width: 200px;
	height: min-content;
	background-color: #15223b;
	border-radius: 5px;
	padding: 0px 5px;
	margin: 10px;

	img {
		width: 150px;
		height: 150px;
		margin: 15px 20px;
		border-radius: 5px;
		max-width: 150px;
	}

	.infoItem {
		h1 {
			color: #fff;
			font-size: 14px;
		}
		p {
			color: #fff;
			font-size: 12px;
		}
	}
	.infoItem2 {
		justify-content: space-between;
		color: #fff;
		.stock {
			color: greenyellow;
		}
	}

	&:hover {
		img {
			content: url("http://dummyimage.com/150x150/eb00eb/fff");
		}
	}
}
