.bar{
    background-color: var(--primary);
    width: 80%;
    margin-bottom: 3%;
    border-radius: 10px;

    img{
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            width: 60px;
            height: 60px;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            width: 60px;
            height: 60px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            width: 80px;
            height: 80px;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            width: 100px;
            height: 100px;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px){
            width: 100px;
            height: 100px;
        }
    }
    
    .items{
        width: 100%;
        color: white;

        .item{
            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                font-size: 20px;
                width: 50%;

            }
            margin: 10px;

            i{
                font-size: 40px;
                &:hover{
                    cursor: pointer;
                }
            }
            .count{
                margin: 10px;
            }
        }

        .counter{
            margin-left: 20%;
        }

        .totalPrice{
            margin-left: 20%;
            margin-right: 10%;
        }
    }
}

