.container{
    height: 150px;
    width: 100%;
    @media only screen and (max-width: 600px) {
        height: 100%;
        display: block;
        text-align: center;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        height: 150px;
    }
    
    img{
        max-height: 100%;
        border-radius: 10px;
        @media only screen and (max-width: 600px) {
            max-height: 150px;
            margin: auto;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            max-height: 100%;
        }
    }

    .detailProduct{
        width: 100%;
        @media only screen and (max-width: 600px) {
            font-size: 14px;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            font-size: 14px;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            font-size: 14px;
        }
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            font-size: 14;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px){
            font-size: 16px;
        }
        .item{
            padding : 2px;
        }

        .counter{
            font-size: 18px;
            i{
                font-size: 25px;
                &:hover{
                    cursor: pointer;
                }
            }

                /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                display: block;
            }

            /* Small devices (portrait tablets and large phones, 600px and up) */
            @media only screen and (min-width: 600px) {
                display: flex;
            }

            .count{
                margin: 10px;
            }
        }
    }

    .price{
        width: 40%;
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            width: 50%;
            font-size: 14px;
            display: none;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            width: 50%;
            font-size: 14px;
            display: none;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            width: 60%;
            font-size: 14px;
            display: block;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            width: 60%;
            font-size: 14px;
            display: block;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px){
            width: 50%;
            font-size: 16px;
            display: block;
        }
    }

    .priceMobile{
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            font-size: 14px;
            display: block;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            font-size: 14px;
            display: block;
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}
