.ContainForm {
	width: 80%;
	margin: auto;
	background: #dfe6ef;
	.forgotpassword {
		width: 350px;
		height: 350px;
		background: #15223b;
		border-radius: 10px;
		box-shadow: 5px 20px 50px #000;
	}
	h2 {
		color: #fff;
		font-size: 2rem;
		justify-content: center;
		display: flex;
		margin: 60px;
		font-weight: bold;
		cursor: pointer;
		transition: 0.5s ease-in-out;
		text-align: center;
	}
	input {
		color: #15223b;
		width: 80%;
		height: 20px;
		background: #e0dede;
		justify-content: center;
		display: flex;
		margin: 20px auto;
		padding: 20px;
		border: none;
		outline: none;
		border-radius: 5px;
	}
}
