@use "../../assets/styles/mixins.scss" as mixin;

.footer {
    color: rgb(0, 0, 0);
    background-image: url("../../assets/images/footerBackground.png");
    background-size: contain;
    font-size: 12px;
    bottom: 0px;
    background-position: 100%;
    margin-top: 50px;

    @include mixin.xxs {
        background-repeat: no-repeat;
    }
}