@use "../../assets/styles/mixins.scss" as mixin;

.header {
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  background-color: var(--primary);
  color: white;
  height: 50px;
  img {
    width: 200px;
    @include mixin.xs {
      width: 110px;
    }
  }
  .desktopHeader {
    @include mixin.xs {
      display: none;
    }
    width: 100%;
  }
  i {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
    }
    @include mixin.xs {
      display: flex;
    }
  }
}
