.imgAvatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.imgCentral {
  width: 400px;
  height: 400px;
  border-radius: 40px;
}

.straight {
  background-color: var(--primary);
  border-radius: 5px;
}

.svertical {
  width: 10px;
  height: 320px;
}

.shorizontal {
  width: 80px;
  height: 10px;
}

.btnColor {
  width: 30px;
  height: 30px;
}
